{{{ noteMacro "Generated" "This page as generated. Any manual edits will be lost." }}}
<table>
  <caption>
    {{#each projects}}
    {{{ this.lead.name }}}<br />
    {{/each}}
  </caption>
  <tbody>
    <tr>
      <th>Epic</th>
      <th>Stories</th>
    </tr>
    {{#each epics}}
    <tr>
      <td>
        {{{ jiraIssueMacro @key }}}
      </td>
      <td>
        {{#each this}}
        {{{ jiraIssueMacro this }}}<br />
        {{/each}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>